
.wrapper_all *{
    width: 90%;
}
.wrapper0 h1{
    margin-left: 3%;
    font-family: 'Comfortaa', cursive;
}
.wrapper0 h2{
    margin-left: 3%;
    font-family: 'Comfortaa', cursive;
}
.wrapper p{
    margin-left: 3%;
    font-family: 'PT Serif', serif;
}
.wrapper1 p{
    margin-left: 5%;
    font-family: 'PT Serif', serif;
}
.wrapper2 p{
    margin-left: 7%;
    font-family: 'PT Serif', serif;
}
.wrapper3 p{
    margin-left: 9%;
    font-family: 'PT Serif', serif;
}
.wrapper4 p{
    margin-left: 11%;
    font-family: 'PT Serif', serif;
}
.btn {
    padding: 5px;
    margin: 1px 1px 1px 25px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 3px 4px black;
    background-color:white;
    color: black;
    width: min-content;
    
}
