
.wrapper0 h1{
    margin-left: 3%;
    font-family: 'Comfortaa', cursive;
}
.wrapper0 h2{
    margin-left: 3%;
    font-family: 'Comfortaa', cursive;
}
.wrapper p{
    margin-left: 3%;
    font-family: 'PT Serif', serif;
}
.wrapper1 p{
    margin-left: 5%;
    font-family: 'PT Serif', serif;
}
.wrapper2 p{
    margin-left: 7%;
    font-family: 'PT Serif', serif;
}
.wrapper3 p{
    margin-left: 9%;
    font-family: 'PT Serif', serif;
}
.wrapper4 p{
    margin-left: 11%;
    font-family: 'PT Serif', serif;
    width: auto;
}
